{% extends 'base.html' %}

{% block content %}

<div class="auth-container">

<div class="auth-card about-card">

<h2 style="text-align:center;">About Notes Management System</h2>

<p>
The <b>Notes Management System</b> is a simple web application that helps users 
create, organize, and manage their personal notes easily.
</p>

<p>
The application is built using <b>Flask, Python, SQlite3, HTML, and CSS</b>, providing
a clean and responsive user interface.
</p>

<br>

<a class="btn" href="/dashboard">Back to Dashboard</a>

</div>

</div>

{% endblock %}